#definition {
	display: none;
	position: fixed;
	width: 30vw;
	padding-top: 75px;
	padding-left: 100px

}

#definition.active {
	display:block;
}

.card-footer:hover {
	cursor: pointer;
}

.card-header {
	background: linear-gradient(to right, #1c8786, #324948);
	color: white;
}

.card-body {
	padding: 0px;
}


ul {
	padding-inline-start: none !important;
}


.pers ul {
	list-style: none;
}

.pers li {
	display: inline-block;
}

.values ul {
	list-style: none;
}

.values li {
	display: inline-block;
}

.keywords ul {
	list-style: none;
}

.keywords li {
	display: inline-block;
}

#like-card {
	width: 100%;
}

#unlike-card {
	margin-bottom: 50px;
}

#definition-tones {
	display: none;
	position: fixed;
	width: 75vw;
	padding-top: 75px;
	padding-left: 100px

}

#definition-tones.active {
	display:block;
}

#definition-person {
	display: none;
	position: fixed;
	width: 75vw;
	padding-top: 75px;
	left: 150px;
	z-index: 1 !important;
}

#definition-person.active {
	display:block;
}

#person-body {
	max-height: 400px;
	overflow: scroll;
}

#definition-values {
	display: none;
	position: fixed;
	width: 75vw;
	padding-top: 75px;
	left: 150px;
	z-index: 1 !important;
}

#definition-values.active {
	display:block;
}

#definition-like {
	display: none;
	position: fixed;
	width: 75vw;
	padding-top: 75px;
	left: 150px;
	z-index: 1 !important;
}

#definition-like.active {
	display:block;
}

#like-body {
	max-height: 400px;
	overflow: scroll;
}

.like-li {
	text-align: left;
}

#per-chart {
	margin-top: 8px;
}

canvas {
	margin-bottom: 8px;
	margin-left: 0;
	margin-right: 0;

}

.container {
	padding: 0;
	margin: 0;
}
