.wrap {
	background-image: url(https://res.cloudinary.com/dg3lfqtcg/image/upload/v1564992478/tomtom_lp96ox.jpg);
width: 100vw;
height: 100vh;
/* width: 100vw;
height: 100vh; */
background-repeat: no-repeat;
}


#signup a {
	color: white !important;
	font-weight: bold;
	position: fixed;
	right: 100px;
	top: 30px;
}

#login a {
	color: white;
	font-weight: bold;
	position: fixed;
	right: 200px;
	top: 30px;
}



#new-analyis-123 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	background-color: white !important;
	color: #213358 !important;
	font-weight: bold;
	position: fixed;
	top: 430px;
	left: 115px;
}
