.list-group{
    max-height: 360px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
		margin-top: 10px;
		margin-left: 10px;
}

#sidebar-body {
	padding: 0px;
}

li.active {
	background: #324948 !important;
	color: white !important;
}

#sidebar.card {
	height: 75vh;
	box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.1);
}

#header {
	background: linear-gradient(to right, #1c8786, #324948);
}

#options {
	background: #e6e6e6 !important;
}

#date {
	background: linear-gradient(to left, #1c8786, #324948);
}

#button-search {
	background: #324948 !important;
	color: white !important;
	border: none !important;
}

#view-analysis a {
	color: black !important;
}
